h4,
h5 {
  font-weight: 500;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

button {
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #1aa7ec;
  border: none;
  width: 100%;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  font-family: "poppins";
  transition: all 0.3s ease;
}
.card {
  max-width: 75%;
  margin: auto;
  display: flex;
  margin-top: 50px;
}
.card-form h4 {
  font-family: "poppins";
  margin-top: 50px;
}
.card .card-features {
  color: white;
  padding: 60px;
  border-radius: 5px 0 0 5px;
  background-color: #735fcd;
}

.card .card-form {
  flex: 1;
  max-width: 75%;
  margin: auto;
}

.card .card-form form {
  margin: 20px 0;
}

.card .card-form .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card .card-form .form-check {
  color: #444;
  margin-bottom: 20px;
}

.card .card-form .form-check input {
  margin-right: 10px;
}

.card .card-form input::placeholder {
  font-size: 14px;
  font-family: "poppins";
}

.card .card-form .form-item label {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "poppins";
}

.card .card-form .form-item input {
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  font-family: "poppins";
}

/* Responsiveness */
@media (max-width: 900px) {
  body {
    padding: 40px 20px;
  }

  .card {
    flex-direction: column;
    padding: 20px;
  }

  .card .card-features {
    padding: 30px;
  }

  .card .card-form {
    padding: 60px 10px;
  }
}
